.cont-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 50px;
    color: black;
}

.profile-cont {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.7em;
    color: black;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 25px;
}

.rzad-danych {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.rzad-danych div {
    width: calc(24% - 60px);
}

#first-rzad {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.results-cont {
    width: 80%;
}

.results-cont h2 {
    margin-bottom: 40px;
}

input[type=number] {
    width: 120px;
    height: 20px;
    margin: 0;
    font-size: 1em;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid black;
}

input[type=number]::placeholder {
    font-size: 10px;
}

.save-plan {
    width: 100px;
    height: 50px;
    padding: 5px 10px;
    background-color: rgb(46, 238, 46);
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.save-plan:hover {
    background-color: #3cbc3c;
}

.update-plan {
    margin-left: 15px;
    width: 100px;
    height: 50px;
    padding: 5px 10px;
    background-color: rgb(243, 184, 24);
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.update-plan:hover {
    background-color: #9c7c24;
}