.cont-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    color: black;
}

.profile-cont {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color: black;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 25px;
}

.task-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    font-size: 1.3em;
}

.task-menu a {
    text-decoration: none;
    color: black;
}

.task-line {
    width: 100%;
    border-bottom: 3px solid black;
    margin-bottom: 25px;
}

.task-item {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s ease-in-out;
}

.task-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
    height: 50px;
    
}

.task-info span{
    margin-left: 10px;
    color: rgb(22, 19, 19);
    font-weight: bold;
    font-size: 1em;
}

.settings-change-btn {
    background-color: #4caf50;
    color: #fff;
    margin: 10px;
    height: 60%;
    padding: 0 20px;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    
  }
.settings-change-btn:hover{
    background-color: #46f04c;
}
.settings-modal-btn {
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.set-change-btn {
    background-color: #f00a0a;
    color: white;
}

.settings-modal-btn {
    background-color: #4caf50;
    color: #fff;
    margin-right: 10px;
}

.settings-modal-btn:last-child {
    background-color: red;
}

input[type=radio] {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border: 0;
}

label:first-child {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.item-input-ans {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.item-input-ans input {
    margin-right: 10px;
}

input[type="number"].set-input {
    width: 80px;
    height: 50px;
    border: 5px solid black;
  }

  .btn-set-save-all{
    margin-top: 20px;
    width: 100%;
    height:80px;
    border: 3px solid black;
    font-size: 25px;
    cursor: pointer;
  }
  
  .btn-set-save-all:hover{
    background-color: #807d7d;
  
  }