/* PlanPage.css */

.cont-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    color: black;
}

.profile-cont {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.7em;
    color: black;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 15px;
}


.avatar {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 25px;
}

.plan-cont {
    margin: 0 0 50px 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}


.plan-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8em;
    height: 50px;
    margin-top: 10px;
}

.plan-row > * {
    width: calc(24% - 60px);
    text-align: center;
}

h2{margin-top:50px;}

.rzad-pierwszy{
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;

}

.rzad-pierwszy div {
    width: calc(24% - 60px);
    text-align: center;
    
}







/* PlanPage.css */
.exercise-change-btn {
    padding: 5px 10px;
    background-color: #44b448;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 28px;
    width: 80px;
    
}

.ex-name {
    display: flex;
    flex-direction: row;
}

.nazwa-cwiczenia {
    font-size: 0.9em;
    text-align: left;
}

.modal-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planp-modal-btn {
    margin: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.planp-modal-btn:hover {
    background-color: #45a049;
}

.planp-modal-btn:last-child {
    background-color: red;
}

.planp-modal-btn:last-child:hover {
    background-color: rgb(119, 3, 3);
}

#span-rpe {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#span-rpe:hover {
    color: red;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

ul ul,
ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

ol ol,
ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}

